{% extends 'base.html.twig' %}

{% block header %}
	<div class="ui attached stackable menu">
	  <div class="ui container">
	    <a class="item">
	      <i class="user icon"></i> User
	    </a>
	    <a class="item">
	      <i class="car icon"></i> Voiture
	    </a>
	    <a class="item">
	      <i class="map icon"></i> Ville
	    </a>
	  </div>
	</div>
{% endblock %}