{% extends 'base.html.twig' %}

{% block body %}

<div class="ui buttons">
  <button class="ui button">Cancel</button>
  <div class="or"></div>
  <button class="ui positive button">Save</button>
</div>

{% endblock %}
