{% extends 'base.html.twig' %}

{% block title %} Front Office {% endblock %}

{% block header %}
	<div class="ui attached stackable menu">
	  <div class="ui container">
	    <a class="header {% if current=='Home'%}active{% endif %} item" href="{{ path('home') }}">
	    	Front Office
	    </a>
	    <a class=" {% if current=='Trajet'%}active{% endif %} item" href="{{ path('trajet') }}">
	      <i class="map signs icon"></i> Trajets
	    </a>
	  </div>
	</div>
{% endblock %}

{% block footer %}
  <div class="ui vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui horizontal small divided link list">
        <a class="item">© 2018 Antoine Auffret & Virgile Prin </a>
      </div>
    </div>
  </div>
{% endblock %}
